.about
  .about__center
    .about__ic
      img(src="img/about.png").about__image
    p.about__text I started my professional career while studying at the university, having passed the Front-End course. Since 2016 and to this day I'm engaged in web development. I develop sites of various subjects (site business card, Landing Page, etc.), and also I am engaged in Html-layout of pages with connection of Javascript and jQuery libraries. I make up the W3C (valid code) standards, I follow the cross-browser IE 9+, Opera 10+, Chrome, FireFox 3+. I have the experience of designing projects with adaptive design (Responsive Web Design) is when the site design dynamically adapts to different browser window sizes.
