.experience
  .experience__center
    h2.experience__h2 Education/work
    p.skills__text <span class="skills__red">Date of birth:</span> 17 February 1997
    p.skills__text <span class="skills__red">Current City:</span> Kharkiv
    p.skills__text <span class="skills__red">Education:</span> higher, 2016-present time.
    p.skills__text <span class="skills__red">Job:</span> Company 2016-present time.
    p.skills__text <span class="skills__red">Languages:</span> Ukrainian, Russian, English - intermediate, at the level of work with technical documentation.
    p.skills__text <span class="skills__red">Personal qualities:</span> responsibility, sociability, initiative, punctuality, accuracy.
    p.skills__text <span class="skills__red">The purpose:</span> site zanusilker.github.io - a portfolio of the Web developer and html-layout maker, it was created with the purpose of demonstration of projects in which development I took part.
