.home
  h1.home__name Ivan <br> 
    span.home__offset Chaban
  p.home__description Web-developer
  .parallax
    .parallax__wrapper
      .parallax__window.parallax__window--1
        .parallax__img.parallax__img--1
          .parallax__before.parallax__before--1
          .parallax__after.parallax__after--1
      .parallax__window.parallax__window--2
        .parallax__img.parallax__img--2
          .parallax__before.parallax__before--2
          .parallax__after.parallax__after--2
      .parallax__window.parallax__window--3
        .parallax__img.parallax__img--3
          .parallax__before.parallax__before--3
          .parallax__after.parallax__after--3
      .parallax__window.parallax__window--4
        .parallax__img.parallax__img--4
          .parallax__before.parallax__before--4
          .parallax__after.parallax__after--4
      .parallax__window.parallax__window--5
        .parallax__img.parallax__img--5
          .parallax__before.parallax__before--5
          .parallax__after.parallax__after--5
      
