nav.nav#menu
  ul.nav__lists
    li(data-url="home").nav__item.nav__item--selected 
      a(href="#home").nav__link Home
    li(data-url="about").nav__item
      a(href="#about").nav__link About me
    li(data-url="experience").nav__item
      a(href="#experience").nav__link Education/jobs
    li(data-url="skills").nav__item
      a(href="#skills").nav__link Skills
    li(data-url="portfolio").nav__item
      a(href="#portfolio").nav__link Portfolio
    li(data-url="contacts").nav__item
      a(href="#contacts").nav__link Contacts
