.portfolio
  .description
    h2.description__h2 Portfolio
    h3.description__h3 Title
    p.description__p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco q 
  .navigation
    .navigation__score
      span 01
      span  / 
      span 05
    button.navigation__this
    .navigation__line
    button.navigation__next.navigation__next--10
    button.navigation__next.navigation__next--06
    button.navigation__next.navigation__next--03
  .progress
    .progress__bar
  .slider
    a(href="").slider__item.slider__item--1
