footer.social
   ul.social__list
     li.social__item
       a.social__link(href="https://www.linkedin.com/in/ivan-chaban-402796127/" target="_blank") LinkedIn
     li.social__item
       a.social__link(href="https://github.com/zanusilker" target="_blank") GitHub
     li.social__item
       a.social__link(href="https://vk.com/zanusilker" target="_blank") VKontakte
     li.social__item
       a.social__link(href="https://www.facebook.com/profile.php?id=100012199831078" target="_blank") Facebook

