:root {
  --roboto-font: 'Roboto', Arial;
  --bebas-font: 'Bebas Neue', sans-serif;
  --black: #000;
  --white: rgba(255, 255, 255, 0.84);
  --main: #CD0D2E;

   // Sandwich
   --bar-width: 50px;
   --bar-height: 5px;
   --bar-spacing: 15px;
 }

