@font-face {
  font-family: "Roboto";
  /* stylelint-disable */
  src: url('../fonts/roboto-light-webfont.woff2') format('woff2'),
       url('../fonts/roboto-light-webfont.woff') format('woff');
  /* stylelint-enable */
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Bebas Neue";
  /* stylelint-disable */
  src: url('../fonts/bebasneue_bold-webfont.woff2') format('woff2'),
       url('../fonts/bebasneue_bold-webfont.woff') format('woff'),
       url('../fonts/bebasneue_bold-webfont.otf');
  /* stylelint-enable */
  font-weight: bold;
  font-style: normal;
}
